<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>To-Do List</h1>
    <form method="POST" action="/add">
      <input type="text" name="task" placeholder="Add a new task" required />
      <select name="priority" required>
        <option value="">Select Priority</option>
        <option class="high-priority" value="High">High</option>
        <option class="medium-priority" value="Medium">Medium</option>
        <option class="low-priority" value="Low">Low</option>
      </select>
      <button type="submit">Add Task</button>
    </form>

    <div id="task-counter">0 out of 0 tasks finished</div>
    <ul>
      {% for todo in todos %}
      <li class="{{ todo.priority.lower() }}">
        <form method="POST" action="/update/{{ loop.index0 }}">
          <input
            type="checkbox"
            name="completed"
            onchange="this.form.submit()"
            {%
            if
            todo.completed
            %}checked{%
            endif
            %}
          />
          <label>{{ todo.task }}</label>
        </form>
        <form
          method="POST"
          action="/delete/{{ loop.index0 }}"
          style="display: inline"
        >
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </li>
      {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
